.DragAndDrop {
    overflow-y: auto;
    height: 70%;
    max-height: calc(46vh - 40px);
    min-height: 170px;
    width: auto;
    margin-right: 2px;
}

.DragAndDrop div {
    list-style-type: none;
}

.DraggableItem {
    list-style-type: none;
    width: 85%;
    height: 40px;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    background: #ECECEC;
    border: 1px solid #D4D4D4;
    border-radius: 18px;
    font-size: 90%;
    opacity: 1;
    cursor: pointer;
}

.LineSaved {
  pointer-events: none;
  opacity:0.6; 
}

.removeBtn {
  float: right;
  margin: 10px 10px 0 0;
  cursor: pointer;
  background: none;
  border: none;
}

::-webkit-scrollbar {
    width: 10px;
  }

   /* Handle   */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

   /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
